body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
}

#logo-image {
    width: 150px;
    height: 150px;
}

.navbar-brand div {
    padding-top: 15px;
}

.navbar-brand div h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin-bottom: 15px;
    margin-left: 10px;
    line-height: .75;
}

.navbar-brand div span { /* Kosher cert */
    color: #000;
    font-size: .7em;
    text-transform: uppercase;
}

.navbar-brand div img { /* Star-K */
    background: url(images/star-k-logo.png);
    vertical-align: middle;
    margin-left: 10px;
}

#navbarNavAltMarkup {
    margin-top: 0;
}

#nav-buttons a {
    color: #951c49;
    text-align: center;
    font-size: 1.1em;
}

#nav-buttons a:nth-child(1) {
    background: url(images/currency-dollar.svg);
}

#nav-buttons a:nth-child(2) {
    background: url(images/info-circle.svg);
}

#nav-buttons a:nth-child(3) {
    background: url(images/award.svg);
}

#nav-buttons a:hover {
    color: #E7E7E7;
}

#phone span {
    font-size: 1.2em;
}

#phone span div {
    font-size: 0.7em;
    margin-left: 45px;
    color: #557c3e;
}

button.navbar-toggler {
    border: 1px solid #61122f;
}

/* END HEADER */

/* HOME PAGE */

#jumbotron {
    margin-top: 20px;
    box-shadow: 0 0 50px #3F0C1F;
}

#jumbotron, #jumbotron img {
    border-radius: 5px;
}

#home-tiles {
    margin-top: 20px;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
    background: url(../images/menu-tile.jpg) no-repeat;
    background-position: center;
}

#specials-tile {
    background: url(../images/specials-tile.jpg) no-repeat;
    background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: #000;
    opacity: .8;
    color: #fff;
    border-radius: 5px;
}

/* END HOME PAGE */

/* FOOTER */

footer {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: #222;
    border-radius: 5px;
}

footer div.row {
    margin-bottom: 35px;
}

#hours, #address {
    line-height: 2;
}

#hours > span, #address > span {
    font-size: 1.3em;
}

#address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}

#testimonials {
    margin-top: 25px;
}

.blockquote-footer::before {
    content: "";
}

footer .row hr {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}



/* END FOOTER */

/********** Large device only **********/
@media (min-width: 1200px) {
    
}

/********** Medium device only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    #logo-image { /* Restaurant logo */
        background: url(images/restaurant-logo_medium.png);
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0px;
    }
}

/********** Small device only **********/
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-brand div h1 { /* Restaurant name */
        font-size: 1.2em;
    }
    
    #logo-image { /* Restaurant logo */
        display: none;
    }

    #nav-buttons a { /* Phone number */
        font-size: 1em;
    }

    .navbar-brand div span { /* Kosher cert */
        font-size: .6em;
    }

    .navbar-brand div img { /* Star-K */
        height: 20px;
    }

    footer { /* Footer */
        text-align: center;
    }

    footer section {
        margin-bottom: 25px;
    }
}

/********** Extra small device only **********/
@media (max-width: 767px) { /* Restaurant logo */
    #logo-image {
        display: none;
    }

    .navbar-brand div h1 { /* Restaurant name */
        font-size: 4vw;
    }

    .nav-link img { /* Collapsing menu icons */
        margin-right: 10px;
    }

    /* Calling Button */
    #call-btn {
        display: grid !important;
        margin-top: 20px;
    }

    #call-btn button {
        background-color: #f6b319;
        border: 2px solid #fff;
        vertical-align: middle;
    }

    #call-btn span {
        text-align: center;
        font-size: .8em;   
        font-weight: bold;
    }

    #call-btn button span {
        color: #61122f;
        font-size: 1em;
        font-weight: normal;
    }

    #menu-tile, #specials-tile {
        width: 360px;
        margin: 0 auto 15px;
    }

    footer { /* Footer */ 
        text-align: center;
    }

    footer section {
        margin-bottom: 25px;
    }

}

/********** Super small device only **********/
@media (max-width: 425px) {
    .navbar-brand div h1 { /* Restaurant name */
        font-size: 4.5vw;
        padding-top: 5px;
    }

    .navbar-brand div img { /* Star-K */
        height: 20px;
    }

    #menu-tile, #specials-tile {
        width: 280px;
        margin: 0 auto 15px;
    }

    footer { /* Footer */ 
        text-align: center;
    }
}
