body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
}

#logo-image {
    width: 150px;
    height: 150px;
}

.navbar-brand div {
    padding-top: 15px;
}

.navbar-brand div h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin-bottom: 15px;
    margin-left: 10px;
    line-height: .75;
}

.navbar-brand div span { /* Kosher cert */
    color: #000;
    font-size: .7em;
    text-transform: uppercase;
}

.navbar-brand div img { /* Star-K */
    vertical-align: middle;
    margin-left: 10px;
}

#navbarNavAltMarkup {
    margin-top: 0;
}

#nav-buttons a {
    color: #951c49;
    text-align: center;
    font-size: 1.1em;
}

#nav-buttons a:hover {
    color: #E7E7E7;
}

#phone span {
    font-size: 1.2em;
}

#phone span div {
    font-size: 0.7em;
    margin-left: 45px;
    color: #557c3e;
}

button.navbar-toggler {
    border: 1px solid #61122f;
}

.navbar-toggler-icon {
    color: #61122f;
}